<div class="desktop">
    <section class="container">
        <div class="text">
            <div class="text-bolt">Breaking Barriers and</div>
            <div class="text-slim">Redefining Possibilities</div>
            <div class="text-vertical">We Are Not Just A Digital<br>
                Presence Amplification Agency
            </div>
            </div>
            <div class="logo"><img src="../../assets/Vector.png" alt=""></div>
    </section>
</div>
<section class="container">
    <app-about-page1></app-about-page1>
    <app-about-page2></app-about-page2>
    <app-about-page3></app-about-page3>
    <app-about-page4></app-about-page4>
    <app-about-page5></app-about-page5>
</section>