<div class="content">
    <div class="content-header">
        We understand that there are many different aspects of digital marketing
    </div>
    <div class="block">
        <div class="block-left">
            <img class="block-img" src="../../../assets/about-2.png">
        </div>
        <div class="block-right">
            <div class="block-header">we strive to provide comprehensive solutions that will help our clients achieve their goals.</div>
            <div class="block-text">
                At Datura, we believe that success is built on collaboration, communication, and a relentless drive to improve. We work closely with our clients to understand their unique needs and goals, and we're always willing to go above and beyond to ensure their satisfaction.</div>
            <div class="block-text">
                Whether you're a small startup or a large corporation, we're here to help you break through the noise and stand out in a crowded digital landscape.
            </div>
        </div>
    </div>
</div>