<div class="content">
    <div class="content-header">
        We understand that there are many different aspects of digital marketing
    </div>
    <div class="block">
        <div class="block-left">
            <img class="block-img" src="../../../assets/about4.png">
        </div>
        <div class="block-right">
            <div class="block-header">We don't tolerate BS</div>
            <div class="block-text">
                <ul>
                    <li>We Don't Have Traditional Working Hours Because We Are Always Operating.</li>
                    <li>Our Office Is Our Imagination, Which Means Our Office Can Be Anywhere And Everywhere.</li>
                    <li>We Are Realistic About Deadlines And Understand That They Are Important. </li>
                    <li>We Take Responsibility For Setting Our Own Deadlines And Ensuring That We Meet Them.</li>
                </ul>
                If you're interested in becoming a part of the DATURA team, you can reach out to us at <i>iwanttobe@datura.app</i>, and we'll show you how to become a real DATURA.
            </div>
        </div>
    </div>
</div>