<div class="content">
    <div class="block1">
        <div class="img"><img src="../../../assets/Vector-star.png" alt=""></div>
    <div class="info1">LETS DEFINE SOME OF THE GROUND RULES</div>
    </div>
    <div class="block2">
        <div class="info2"><span class="info2-block">CONSIDERING
            US?</span>
            <span>Our CEO invites you to surprise us with your unique project at <i>sparkinterest@datura.app.</i> If you manage to catch our attention, the first month will be on us!</span></div>
        <ol class="info3">
            <li>It's important to understand that we take our partnerships with great commitment.</li>
            <li>We expect at least one sensible person from the organisation who is dedicated to the success of the project and truly cares about what we do with your brand.</li>
            <li>If the synergy isn't quite right, we prefer to keep things groovy and pass on taking on your project. No hard feelings, just gotta keep the vibes in sync!</li>
        </ol>
    </div>
</div>