
.nav {
    background-color: #201E1E;
    padding: 36px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-content{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 68px;
}
.nav-item {
    text-decoration: none;
    color: #F7F8E9;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
}
.nav-item img {
    vertical-align: baseline;
}
.item{
    padding: 15px;
    border: 1px solid #F7F8E9;
    border-radius: 10px;
}
.nav-item:hover, 
.nav-item:focus{
    color: #26AB72;
}

@media (max-width: 1024px) {
    .nav-content{
        margin: 0px 85px;
    }
    .nav-item{
        font-size: 12px;
    }
}

@media(max-width:786px){
    .nav{
        padding: 30px 0;
    }
    .nav-content{
    margin: 0 45px;
    }
    .nav-item{
        font-size: 10px;
    }
    .nav-item img {
        max-width: 80px;
    }
}
@media(max-width:645px){
    .nav{
        padding: 20px 0;
    }
    .nav-content{
        margin: 0 15px;
    }
    .nav-item{
        font-size: 8px;
    }
    .item{
        padding: 7px;
        border-radius: 5px;
    }
    
}
@media(max-width: 425px){
    .nav-item{
        font-size: 5px;
    }
    .nav-item img {
        width: 60px;
    }
}