<div class="content">
    <div class="content-header">
        YOU'VE MADE IT TO US,<br> AND NOW IT'S TIME TO<br> MAKE IT BIG!
    </div>
    <div class="block">
        <div class="block-left">
            <img class="block-img" src="../../../assets/butterfly.png">
        </div>
        <div class="block-right">
            <div class="block-header">Don't Waste Any More Time Trying To Do It All Yourself! </div>
            <div class="block-text">Select a service and a GROWTH EXPERT will blueprint a strategy that will pitch in to your target audience and drive results.</div>
            <a href="" class="block-buttom">EXPLORE SERVICES</a>
        </div>
    </div>
</div>