<div class="content">
  <div class="block">
      <div class="block-left">
          <div class="block-img">
            <div class="slider">

            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
          
            <div class="slides">
              <div id="slide-1">
                Logo
              </div>
              <div id="slide-2">
                Will
              </div>
              <div id="slide-3">
                Be
              </div>
              <div id="slide-4">
                Here
              </div>
              <div id="slide-5">
                :)
              </div>
            </div>
            </div>
          </div>
      </div>
      <div class="block-right">
          <div class="block-header">
            SETTLE IN, RELAX AND GET READY TO GROW LIKE THEM:
          </div>
          <div class="block-text">Our Clients have experienced a personalised and tailored approach, dedicated attention to their project, and a commitment to excellence..</div>
          <a href="#" class="block-buttom">OUR PROJECTS</a>
      </div>
  </div>
</div>