<div class="content">
    <div class="block">
        <div class="block-left">
            <div class="block-header">
                LETS MAKE IT CLEAR!
            </div>
            <div class="block-info">We Are Not Just A Digital Presence Amplification Agency</div>
            <div class="block-text">Datura was founded in November 22 with a clear mission: to bring a hospitality-first approach to digital marketing. From the beginning, our goal has been to break down barriers and challenge traditional ways of thinking in order to deliver game-changing solutions for our clients.
            </div>
    </div>
    <div class="block-right">
        <img class="block-img" src="../../../assets/about-1.png">
    </div>
</div>