
<div class="desktop">
    <section class="container">
        <div class="text">
            <div class="text-bolt">WE COULD BE YOUR</div>
            <div class="text-slim">GROWTH HACKERS</div>
            <div class="text-vertical">But Here You Are<br>
                Still <b>Scrolling</b> Our Website
            </div>
            </div>
            <div class="logo"><img src="../../assets/Vector.png" alt=""></div>
    </section>
</div>
<section class="container">
    <app-home-page1></app-home-page1>
    <app-home-page2></app-home-page2>
    <app-home-page3></app-home-page3>
    <app-home-page4></app-home-page4>
</section>