<div class="content">
    <div class="block">
        <div class="block-left">
            <div class="block-img">
              <div class="slider">
  
              <a href="about#slide-1"></a>
              <a href="about#slide-2"></a>
              <a href="about#slide-3"></a>
              <a href="about#slide-4"></a>
              <a href="about#slide-5"></a>
            
              <div class="slides">
                <div id="slide-1">
                  Logo
                </div>
                <div id="slide-2">
                  Will
                </div>
                <div id="slide-3">
                  Be
                </div>
                <div id="slide-4">
                  Here
                </div>
                <div id="slide-5">
                  :)
                </div>
              </div>
              </div>
            </div>
        </div>
        <div class="block-right">
            <div class="block-header">
              working with a diverse range of clients
            </div>
            <div class="block-text">Datura's portfolio is a diverse collection of clients ranging from up-and-coming startups to established For and Non-Profit Organisations. </div>
            <div class="block-text">
            Our experience working with such a broad range of clients has given us valuable insights into the challenges that companies of different sizes and stages of growth face in the digital marketing landscape.
            </div>
        </div>
    </div>
</div>