<div class="content">
    <div class="block">
        <div class="block-left">
            <div class="block-header">
                PEEK BEHIND THE CURTAINS OF THE DIGITAL AGENCY, FULL OF GROWTH HACKERS
            </div>
            <div class="block-text">We could be your key industry partner and help you succeed in the digital world. But again, here you are scrolling.</div>
            <a href="" class="block-buttom">LEARN MORE</a>
        </div>
        <div class="block-right">
            <img class="block-img" src="../../../assets/sun.png">
        </div>
    </div>
</div>